* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-color: white;
	--text-color2: rgba(255, 255, 255, .5);
	--bg-url: url(./assets/bg-mobile.jpg);
	--stroke-color: rgba(255,255,255, 0.1);
	--surface-color: rgba(255, 255, 255, 0.06);
	--switch-bg: url(./assets/moon-stars.svg);
	--surface-color-hover: rgba(151, 151, 151, 0.5);
}

.light {
	--text-color: black;
	--text-color2: rgb(71, 71, 71);
	--bg-url: url(./assets/bg-mobile-light.jpg);
	--stroke-color: rgba(0, 0, 0, 0.5);
	--surface-color: rgba(94, 94, 94, 0.06);
	--surface-color-hover: rgba(151, 151, 151, 0.5);
	--social-link-hover: rgb(141, 141, 141);
	--switch-bg: url(./assets/sun.svg);
}

body {
	background-color: black;
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: cover;
	height: 100vh;
}

body * {
	font-family: "Inter", sans-serif;
	color: var(--text-color);
	text-decoration: none;
}

#container {
	width: 100%;
    max-width: 580px;
    margin: 56px auto 0px;
	padding: 0 24px;
}


/* Profile */
#profile {
	text-align: center;
	padding: 24px;
}

#profile img{
    width: 140px;
}

#profile p {
	font-weight: 500;
	line-height: 24px;
	margin-top: 20px;
}

/* Botão switch */
#switch {
	position: relative;
	width: 64px;
	height: 24px;
	margin: 4px auto;
	padding: 20px 0 45px;
}

#switch button {
	width: 32px;
	height: 32px;
	background: white var(--switch-bg) no-repeat center;
	border: 0;
	border-radius: 50%;
	cursor: pointer;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%);
}

.light #switch button{
	right: 0;
	left: initial;
}

#switch span {
	display: block;
	width: 64px;
	height: 24px;
	background-color: var(--surface-color);
	border: 1px solid var(--stroke-color);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 9999px;
}

/* Bio */
#bio {
	text-align: center;
	padding: 10px 0px 20px;
	font-weight: 300;
	line-height: 28px;
}

/* Texto Links */
#links {
	padding: 20px 0px;
	color: var(--text-color2);
	font-weight: 300;
}

.link-linha {
	display: flex;
	gap: 0px;
	align-items: center;
	justify-content: space-between;
}

#linha {
	width: 60%;
}

/* Lista de Links */
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 24px;
	background: var(--surface-color);
	border: 1px solid var(--stroke-color);
	border-radius: 8px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	font-weight: 500;
	transition: all .5s;
}

ul li a:hover {
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid var(--surface-color-hover);
	transform: translateY(-4px);
}

/* Social */
#social {
	display: flex;
	gap: 50px;
	padding: 40px 0;
	font-size: 26px;
	align-items: center;
	justify-content: center;
}

.fa-brands, .fab {
    color: var(--text-color2);
	transition: all .5s;
}

.fa-brands:hover, .fab:hover {
	color: var(--social-link-hover);
	transform: translateY(-4px);
}

footer {
	padding: 24px 0;
	text-align: center;
}

footer img {
	opacity: 80%;
}

@media (min-width: 700px) {
	:root {
		--bg-url: url(./assets/bg-desktop.jpg);
	}

	.light {
		--bg-url: url(./assets/bg-desktop-light.jpg);
	}
}