* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: cover;
}

body * {
	font-family: "Inter", sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

#container {
    width: 500px;
    margin: 56px auto 0px;
	padding: 0 24px;
}

#profile {
	text-align: center;
	padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p {
	font-weight: 500;
	line-height: 24px;
	margin-top: 20px;
}

#bio {
	text-align: center;
	padding: 10px 0px 20px;
	font-weight: 300;
	line-height: 28px;
}

#links {
	padding: 20px 0px;
	color: rgba(255, 255, 255, .5);
	font-weight: 300;
}

.link-linha {
	display: flex;
	gap: 0px;
	align-items: center;
	justify-content: space-between;
}

#linha {
	width: 60%;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 24px;
	background: rgba(255, 255, 255, 0.06);
	border: 1px solid rgba(255,255,255, 0.1);
	border-radius: 8px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	font-weight: 500;
	transition: all .5s;
}

ul li a:hover {
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255,255,255, 0.4);
	transform: translateY(-4px);
}

#social {
	display: flex;
	gap: 50px;
	padding: 40px 0;
	font-size: 26px;
	align-items: center;
	justify-content: center;
}

.fa-brands, .fab {
    color: rgba(255, 255, 255, .5);
	transition: all .5s;
}

.fa-brands:hover, .fab:hover {
	color: rgba(255, 255, 255, 0.9);
	transform: translateY(-4px);
}

footer {
	padding: 24px 0;
	text-align: center;
}

footer img {
	opacity: 80%;
}